* {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

:root{
    --corFundo: #0086d6;
    --corArea: #0057b8;
}

body .content {
    background-color: var(--corFundo);
}

.content{
    max-width: 1366px;
    height: 600px;
    padding: 0 10px;
    margin: auto;
    background-color: var(--corArea);
}

.content-box{
    background-color: var(--corArea);
}

.content .content-box{
    max-width: 1150px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 475px;
    padding: 10px;
    border-radius: 6px;
}

.content .textoLogo{
    margin: auto;
    position: fixed;
    text-align: center;
    top: 100px;
    left: 480px;
    background-color: var(--corFundo);
    color: gold;
    font-size: x-large;
}

.content .textoLogo .Imglogo{
    margin: auto;
    position: absolute;
    display: inline-block;
    background-color: var(--corFundo);
    background-image: none;
    left: -100px;
}

.content .textoLogo .text_1{
    background-color: var(--corArea);
    color: #fff;
    font-size: medium;
}


