* {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

:root{
    --corFundo: #0032d6;
    --corArea: #041ba0;
}

body .content {
    background-color: var(--corFundo);
}

header .linkLogo .logo{
    margin: auto;
    align-items: center;
    font-size: xx-large;
    color: blue;
    padding-left: 115px;
    font-weight: bold;
}

.content{
    max-width: 1366px;
    height: 600px;
    padding: 0 10px;
    margin: auto;
    background-color: var(--corArea);
}

.content-box{
    background-color: var(--corArea);
}

.content .content-box{
    width: 380px ;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 475px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--corArea);
}

.content .textoLogo{
    margin: auto;
    position: absolute;
    text-align: center;
    top: 100px;
    left: 480px;
    background-color: var(--corFundo);
    color: gold;
    font-size: x-large;
}

.content .textoLogo .Imglogo{
    margin: auto;
    position: absolute;
    display: inline-block;
    background-color: var(--corFundo);
    left: -110px;
    top: -55px;
}

.content .content-box .text_1{
    background-color: var(--corArea);
    color: #fff;
    font-size: medium;
    padding: 5px 0;
}

.content .content-box .caixaDados{
    background-color: var(--corArea);
}

.content .content-box .caixaDados .caixaChave{
    margin: 10px 5px;
    padding: 20px 5px;
    width: 200px;
    height: 15px;
    border-radius: 6px;
    border: thin solid red;
}

.content .content-box .btnVerificar{
    background-color: gold;
    color: #fff;
    border: none;
    font-weight: 800;
    display: inline-block;
    width: 125px;
    height: 45px;
    padding: 20px 5px;
    margin: 10px 0;
    align-items: flex-end;
    padding: 10px;
    border-radius: 20px;
    z-index: 999;
    position: absolute;
    left: 260px;
    top: 48px;
    cursor: pointer;
}

.content .content-box .CampoObrigatorio{
    background-color: var(--corArea);
    color: #fff;
    align-items: baseline;
    position: absolute;
    top: 130px;

}



footer{
    display: inline-block;
    align-items: flex-start;
    font-size: 35px;
    padding: 0 20px;
    height: fit-content;
    color: blue;
    font-weight: bold;
}

.textFooter{
    color: blue;
    display: block;
    margin: auto;
    font-size: 20px;
    position: absolute;
    left: 120px;
    top: 630px;
    padding: 0 20px;
}


